.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header .header__title{
    font-size: 25px;
    font-weight: 700;
    
}

.header .header__icon{

    font-size: 18px;
    margin-left:25px;
    cursor: pointer;

}

.fa-cog{
    animation: spinCog 2s infinite linear ;
}

.header__header-column {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header__back-btn{
    font-size : 24px;
    margin-right: 20px;
}

@keyframes spinCog{
    from{
        transform : rotate(0deg);
    }to{
        transform : rotate(360deg);
        }
}




