.more .suggestion{
    cursor:pointer;
}

.more .more__btn-list {
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
}

.more .more__btn--invisible {
  visibility: hidden;
  cursor:unset;
}

body > main > section > ul > li:nth-child(1) > span.suggestion__icon{
  animation: jump1 1.5s infinite;
}
body > main > section > ul > li:nth-child(2) > span.suggestion__icon{
  animation: jump1 1.5s infinite;
  animation-delay: 0.5s;
}
body > main > section > ul > li:nth-child(3) > span.suggestion__icon{
  animation: jump1 1.5s infinite;
  animation-delay: 1s;
}

.more__btn-list .more__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > main > ul > li:nth-child(1) > span.more__btn-icon > i{
  animation: jump1 1.5s infinite;
}

body > main > ul > li:nth-child(2) > span.more__btn-icon > i{
  animation: jump1 1.5s infinite;
  animation-delay: 0.5s;
}

body > main > ul > li:nth-child(3) > span.more__btn-icon > i{
  animation: jump1 1.5s infinite;
  animation-delay: 1s;
}

@keyframes jump1{
  0%{
    transform: translateY(-10px);
  }
  20%{

  }
  30%{

  }
  50%{

  }
  70%{

  }
  90%{

  }
  100%{
    transform: none;
  }
}



.more__btn .more__btn-title {
  font-size: 14px;
  margin-top: 15px;
}

.more .more__suggestions {
  border-top: 1px solid #f7f7f7;
  padding-top: 20px;
}

.more .more__title {
  opacity: 0.8;
  margin-bottom: 20px;
}

.more .more__suggestions-list {
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
}

.more__suggestions-list .suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestion .suggestion__title {
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.8;
}

.suggestion .suggestion__icon {
  background-color: #fce006;
  padding: 10px;
  border-radius: 10px;
}

.suggestion .suggestion__icon i {
    font-size:28px;
    color: white;
}

/* invisible suggestion */
.more .more__suggestion--invisible {
  visibility: hidden;
  cursor:unset;
}
